@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gray:#707070;
}

body {
    font-family: "Archivo", sans-serif;
}

header{
    display: flex;
    font-size: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fff;
    height: 30px;
    width: 100%;
}

.area-jordan{
    background-image: url('../assets/image-michael-jordan.png');
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10%;
}

.area-jordan img{
    margin-top: 200px;
}

.area-jordan h3{
    margin-top: 2px;
    font-weight: normal;
    font-size: 30px;
}

.area-jordan p{
    margin-top: 10px;
    font-size: 30px;
    font-weight: lighter;
}

.area-jordan-shopp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    padding: 0 10%;
}

.area-jordan-shopp p{
    margin-top: 10px;
    font-size: 20px;
}

.area-jordan-shopp-shoes{
    margin: 100px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.jordan{
    width: 100%;
    max-width: 450px;
}

.jordan img{
    cursor: pointer;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
    width: 70%;
}

.jordan img:hover{
    transform: scale(1.1);
}

.jordan-text{
    font-size: 15px;
    text-align: left;
}

.jordan-text h2 {
    font-weight: normal;
}

.jordan-text h3 {
    color: var(--gray);
}

.jordan-text p {
    font-weight: bold;
}

footer{
    display: flex;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

footer a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 1080px) {
    .area-jordan{
        height: auto;
        padding: 20px 5%;
    }

    .area-jordan img{
        margin-top: 100px;
    }
    
    .area-jordan h3{
        margin-top: 50px;
        font-size: 30px;
    }
    
    .area-jordan p{
        margin-top: 20px;
        font-size: 25px;
    }

    .area-jordan-shopp-shoes{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .jordan{
        width: 100%;
        margin: 20px 0;
    }

    .jordan h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .area-jordan{
        height: auto;
        padding: 20px 5%;
    }

    .area-jordan img{
        margin-top: 100px;
    }
    
    .area-jordan h3{
        margin-top: 50px;
        font-size: 30px;
    }
    
    .area-jordan p{
        margin-top: 20px;
        font-size: 25px;
    }

    .area-jordan-shopp-shoes{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .jordan{
        width: 100%;
        margin: 20px 0;
    }

    .jordan h2{
        font-size: 18px;
    }
}
